@import "bootstrap-sprockets";
@import "bootstrap";


/* universal styling */
$insta-navy: #125688;
$light-grey: #eeefef;

body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial,
  Helvetica, sans-serif;
}

/* navbar styling */

.navbar-brand {
  a {
    color: $insta-navy;
  }
}

.glyphicon.glyphicon-camera {
  font-size: 20px;
}

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: $insta-navy;
  }
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}

.navbar-nav > li {
  font-size: 16px;
}

/* posts styling */

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%
}

.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  .post-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: $insta-navy;
    font-size: 15px;
    line-height: 18px;
    .user-name, .time-ago {
      display: inline;
    }
    .user-name {
      font-weight: 500;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
    }
  }
  .image {
  border-bottom: 1px solid $light-grey;
  border-top: 1px solid $light-grey;
  }
}

.post-bottom {
  .user-name, .comment-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .user-name {
    font-weight: 500;
    margin-right: 0.3em;
    color: $insta-navy;
    font-size: 15px;
  }
  .user-name, .caption-content {
    display: inline;
  }
  #comment {
    margin-top: 7px;
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-comment {
      float: right;
      color: #515151;
    }
  }
  margin-bottom: 7px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}

.comment-content {
  font-size: 15px;
  line-height: 18px;
  width: 100%;
  color: #4B4F54;
  border: medium none;
}

.comment-like-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid $light-grey;
  flex-direction: row;
  justify-content: center;
}

/* Wrapper and styling for the new & edit view */

.form-wrapper {
  background-color: #fff;
  margin: 20px auto;
  padding: 40px;
  border: 1px solid $light-grey;
  border-radius: 3px;
  width: 60%;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Signup & Login form styling */

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.registration-bg {
  padding-top: 4em;
  height: 100%;
}

body#registration-bg {
  background-image: image-url('regback.jpg');
  background: image-url('regback.jpg') no-repeat-y 50% 50% fixed;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: auto;
}

.log-in {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading {
  h1 {
    text-align: center;
  }
}

.navbar {
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 0px;
}

.login-bg {
  padding-top: 4em;
  height: 100%;
}

body#login-bg {
  background-image: image-url('logback.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.div.log-in.panel {
  padding-top: 4em;
}

/* New Post Styling */

#image-preview {
  margin: 0px auto;
}

#post_image {
  padding: 1em;
  margin: 0px auto;
}

/* Index styling */

#paginator {
  color: #4090DB;
  height: 120px;
  width: 120px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #4090DB;
  border-radius: 50%;
  :hover {
    border: 1px solid #2D6DA8;
    border-radius: 50%;
  }
}

#load_more {
  display: table-cell;
  font-size: 12px;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  a :hover {
    color: #2D6DA8;
  }
}

.comments {
  .paginator {
    margin: 0.5em;
    .more-comments {
      color: #A5A7AA;
    }
  }
}

#user_avatar {
  margin: 20px auto;
}

/* Profile Page Styling */

.profile-header {
  padding: 20px 0;
}
.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}
.user-name-and-follow {
  display: inline;
}
.profile-user-name {
  display: inline;
}
.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}
.profile-bio {
  margin-top: 20px;
}

.comment-submit-button {
  position: absolute;
  left: -9999px;
}

#user_bio {
  border: 1px solid gray;
}

#user_avatar {
  padding: 1em;
  margin: 0px auto;
}


.likes {
  margin-top: 20px;
  margin-bottom: 7px;
}

.like {
  text-decoration: none;
  color: red;
}

.like-button a:hover, .like-button a:focus {
  text-decoration: none;
  color: red;
}

// Notification no click action just hover feature
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}

#notification-title {
  color: #A5A7AA;
  font-size: 15px;
}

hr.notif-margin {
  margin: 10px;
}

.notification-dropdown {
  margin-top: 10px;
  button {
    border: none;
  }
}

.notification-index-list {
  margin-top: 5em;
  list-style: none;
  li {
    margin-top: 1em;
    background-color: white;
    padding: 1em;
  }
}

.notification-time-ago {
  color: #A5A7AA;
}

.navy-glyphicon {
  color: $insta-navy;
}


.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  } 
}

